<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Irfan Writes</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
      <a href="https://github.com/irfancode" target="_blank">GitHub</a>
      <a href="https://linkedin.com/in/sirfan98cs" target="_blank">LinkedIn</a>
    </nav>
  </header>
  
  <main>
    {{ content }}
  </main>
  
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} Irfan Writes. Connect: <a href="https://linkedin.com/in/sirfan98cs">LinkedIn</a> | <a href="https://github.com/irfancode">GitHub</a></p>
  </footer>
</body>
</html>
